<div class="nav-setting">
  <div class="ui buttons">
    <div class="ui floating dropdown button">
      <i class="icon bars"></i>
      <div class="menu">
        <% if (user) { %>
                    <a class="item" href="/posts">所有用户电池信息</a>
          <a class="item" href="/posts?author=<%= user._id %>">个人用户电池信息</a>
          <div class="divider"></div>
          <a class="item" href="/posts/create">电池信息录入</a>
          <a class="item" href="/port">获取串口数据</a>
          <a class="item" href="/signout">登出</a>
        <% } else { %>
          <a class="item" href="/signin">登录</a>
          <a class="item" href="/signup">注册</a>
        <% } %>
      </div>
    </div>
  </div>
</div>