
<div class="wrapper">
    <div class="brand">
        <p><a class="logo">可溯源系统数字化工作平台</a></p>
    </div>

    <div class="rm-container">
        <nav class="rm-nav rm-nojs rm-lighten">
            <ul>
                <li><a >首页</a></li>

                <li><a >数据中心</a>
                    <ul><% if (user) { %>
                        <li><a href="/posts">所有数据</a></li>
                        <li><a href="/posts?author=<%= user._id %>">个人数据</a></li>
                        <li><a href="/canz/canzs">掺杂材料</a></li>
                        <li><a href="/port">刷卡数据</a></li>
                        <% } %>
                    </ul>
                </li>

                <li><a >数据录入</a>
                    <ul>

                        <li><a href="/canz">掺杂数据</a></li>
                        <li><a>测试数据</a>
                            <ul>
                                <li><a href="/posts/create">SEM平面图</a></li>
                                <li><a href="#">SEM截面图</a></li>

                            </ul>
                        </li>
                        <li><a href="#">分析数据</a>
                            <ul>
                                <li><a href="#">XRD分析</a></li>
                                <li><a href="#">EDX分析</a></li>
                                <li><a href="#">霍尔效应</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a >测试结果</a>
                    <ul>
                        <li><a href="#">SEM平面图</a></li>
                        <li><a href="#">SEM截面图</a></li>
                        <li><a href="#">XRD分析</a></li>
                        <li><a href="#">EDX分析</a></li>
                        <li><a href="#">霍尔效应</a></li>
                    </ul>
                </li>

                <li><a >个人中心</a>
                    <ul><% if (user) { %>
                        <li><a href="/update_pwd">修改密码</a></li>
                        <li><a href="/signout">退出登录</a></li>
                        <% } else { %>
                        <li><a href="/signin">登录</a></li>
                        <li><a href="/signup">注册</a></li>
                        <% } %>
                    </ul>
                </li>

            </ul>
        </nav>

    </div>


</div>

</header>









