<!DOCTYPE html>
<html class="no-js">
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>可溯源系统数字化工作平台</title>

  <link href="/css/responsive-menu.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">

  <!--<link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">-->
  <link rel="stylesheet" href="/css/semantic-2.1.8.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <!--<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->
  <!--<script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>-->
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script src="/js/semantic-2.1.8.min.js"></script>

  <!--<link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="/css/bootstrap-3.3.7.min.css">
  <!--<script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>-->
  <!--<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  <script src="/js/jquery-2.1.1.min.js"></script>
  <script src="/js/bootstrap-3.3.7.min.js"></script>

  <script src="/js/modernizr.min.js" type="text/javascript"></script>
  <script src="/js/modernizr-custom.js" type="text/javascript"></script>
  <script src="/js/jquery-1.8.3.min.js"></script>
  <script src="/js/responsive-menu.js" type="text/javascript"></script>
  <script>
      jQuery(function ($) {
          var menu = $('.rm-nav').rMenu({
              minWidth: '960px',
          });
      });
  </script>

</head>
<body>
<header>