<%- include('header') %>
RFID数据（需刷新浏览器）：<%- msg %>
<span><form action="/search" method="GET"><input type="text" name="postId" placeholder="SEARCH" class="search" /></form></span>
<%- include('footer') %>




