<%- include('header') %>
<div class="port">

    <div class="rfid">
        获取RFID数据（需刷新浏览器）:<input type="text"  placeholder="<%- postId %>"/>
    </div>
    <span>
    <form action="/search" method="GET">
        <input type="text" name="postId" placeholder="输入RFID数据进行搜索" class="search" />
    </form>
    </span>
</div>


<%- include('footer') %>




