<%- include('header') %>
<span><form action="/search" method="GET"><input type="text" name="postId" placeholder="SEARCH" class="search" /></form></span>
<% posts.forEach(function (post) { %>
  <%- include('components/post-content', { post: post }) %>
<% }) %>

<%- include('footer') %>