<%- include('header') %>
<span>
  <form action="/search" method="GET">
    <input type="text" name="postId" placeholder="在此输入电池信息以搜索" class="search" />
  </form>
</span>
<% posts.forEach(function (post) { %>
  <%- include('components/post-content', { post: post }) %>
<% }) %>

<%- include('footer') %>