<span class="search">
        <form action="/search" method="GET">
            <div class="ui large icon input">
            <input type="text" name="postId" placeholder="搜索 ...">
            <i class="search icon"></i>
            </div>
        </form>
      </span>