
    <!--<div class="ui grid">-->
        <!--<div class="four wide column"></div>-->

        <!--<div class="eight wide column">-->
      <span>
        <form action="/search" method="GET">
          <div class="">
          <input type="text" name="postId" placeholder="搜索 …" class="ui form segment" />
              <!--<button type="submit" class="ui form segment">搜索</button>-->
          </div>
        </form>
      </span>
        <!--</div>-->
    <!--</div>-->
