/* ---------- 全局样式 ---------- */

/*body {*/
  /*width: 1100px;*/
  /*height: 100%;*/
  /*margin: 0 auto;*/
  /*padding-top: 40px;*/
/*}*/

/*a:hover {*/
  /*border-bottom: 3px solid #4fc08d;*/
/*}*/

.button {
  background-color: #400000 !important;
  color: #fff !important;
}

.avatar {
  border-radius: 20px;
  width: 56px;
  height: 56px;
  float: right;
}

/* ---------- nav ---------- */

.nav {
  margin-bottom: 20px;
  color: #999;
  text-align: center;
}

.nav h1 {
  color: #400000;
  display: inline-block;
  margin: 10px 0;
}

/* ---------- nav-setting ---------- */

.nav-setting {
  position: fixed;
  right: 30px;
  top: 35px;
  z-index: 999;
}

.nav-setting .ui.dropdown.button {
  padding: 10px 10px 0 10px;
  background-color: #400000 !important;
}

.nav-setting .icon.bars {
  color: #000;
  font-size: 18px;
}

/* ---------- post-content ---------- */

.post-content h3 a {
  color: #400000 !important;
}

.post-content .tag {
  font-size: 13px;
  margin-right: 5px;
  color: #999;
}

.post-content .tag.right {
  float: right;
  margin-right: 0;
}

.post-content .tag.right a {
  color: #999;
}
.search{
    /*float: right;*/
    width: 500px;
    height: 25px;
    padding: 20px;
    float: right;
    margin-top: 5px;
    margin-right: 5px
}
.port {
  margin-bottom: 20px;
  color: #999;
  text-align: center;
}
.rfid{
   border:0;
   width:11em;
   text-align:center;
   font-size:2em;
   margin:0.5em 0;
 }
.chart {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    float: left;
}
.prepage a{float:left;text-decoration:none;padding:.5em 1em;color: #140000;font-weight:bold;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color: #140000;font-weight:bold;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;-webkit-transition:color .2s linear;}
.login{
    /*background: #cfdce8;*/
    /*background-image: url("(28).jpeg");*/
    width: 500px;
    height: 350px;
    padding: 25px;
    float: right;
    margin-top: 100px;
    margin-right: 100px
}
.logup{
    /*background: #cfdce8;*/
    width: 500px;
    height: 525px;
    padding: 1px;
    float: right;
    margin-top: 15px;
    margin-right: 100px;
    /*background-image: url("(28).jpeg");*/
}
.loginmodule{
    /*background: #cfdce8;*/
    width: 100%;
    height: 555px;
    padding: 0px;
    float: right;
    margin-top: 0.5px;
    margin-right: 0px;
    background-image: url("(28).jpeg");
}.logupmodule{
     /*background: #cfdce8;*/
     width: 100%;
     height: 555px;
     padding: 0px;
     float: right;
     margin-top: 0.5px;
     margin-right: 0px;
     background-image: url("(28).jpeg");
 }
.luru{
    /*background: #cfdce8;*/
    width: 100%;
    height: 555px;
    padding: 100px;
    /*float: right;*/
    margin: auto;
    /*margin-top: 100px;*/
    /*margin-right: 100px;*/
    /*background-image: url("(28).jpeg");*/
}