/* ---------- 全局样式 ---------- */


/*a:hover {*/
  /*border-bottom: 3px solid #4fc08d;*/
/*}*/

.button {
  background-color: #400000 !important;
  color: #fff !important;
}

.avatar {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  float: right;
}

/* ---------- post-content ---------- */

.post-content h3 a {
  color: #400000 !important;
}

.post-content .tag {
  font-size: 13px;
  margin-right: 5px;
  color: #999;
}

.post-content .tag.right {
  float: right;
  margin-right: 0;
}

.post-content .tag.right a {
  color: #999;
}
.search{
    /*background: #cfdce8;*/
    width: 500px;
    height: 100px;
    padding: 25px;
    float: right;
    margin-top: 6px;
    margin-right: 85px
}

.chart {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    float: left;
}
.prepage a{float:left;text-decoration:none;padding:.5em 1em;color: #140000;font-weight:bold;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color: #140000;font-weight:bold;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;-webkit-transition:color .2s linear;}

.login{
    background: #cfdce8;
    /*background-image: url("(28).jpeg");*/
    width: 500px;
    height: 350px;
    padding: 25px;
    float: right;
    margin-top: 100px;
    margin-right: 100px
}
.loginmodule{
    background: #cfdce8;
    width: 100%;
    height: 555px;
    padding: 0px;
    float: right;
    margin-top: 0.5px;
    margin-right: 0px;
    /*background-image: url("(28).jpeg");*/
}
.signup{
    /*background: #cfdce8;*/
    width: 500px;
    height: 525px;
    padding: 1px;
    float: right;
    margin-top: 15px;
    margin-right: 100px;
    /*background-image: url("(28).jpeg");*/
}
.signupmodule{
     /*background: #cfdce8;*/
     width: 100%;
     height: 555px;
     padding: 0px;
     float: right;
     margin-top: 0.5px;
     margin-right: 0px;
     background-image: url("(28).jpeg");
 }
.luru{
    /*background: #cfdce8;*/
    width: 100%;
    height: 555px;
    padding: 100px;
    /*float: right;*/
    margin: auto;
    /*margin-top: 100px;*/
    /*margin-right: 100px;*/
    /*background-image: url("(28).jpeg");*/
}.pagging{
     width:800px;
     height:50px;
     margin:0 auto;
     /*background-color:gray;*/
 }

.canza{
    /*background: #cfdce8;*/
    width: 800px;
    height: 555px;
    padding: 100px;
    /*float: right;*/
    margin: auto;
    /*margin-top: 100px;*/
    /*margin-right: 100px;*/
    /*background-image: url("(28).jpeg");*/
}

