/* ---------- 全局样式 ---------- */

/*body {*/
  /*width: 1024px;*/
  /*height: 100%;*/
  /*margin: 0 auto;*/
  /*padding-top: 40px;*/
/*}*/

a:hover {
  border-bottom: 3px solid #4fc08d;
}

.button {
  background-color: #643519 !important;
  color: #fff !important;
}

.avatar {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  float: right;
}

/* ---------- nav ---------- */

/*.nav {*/
  /*margin-bottom: 20px;*/
  /*color: #999;*/
  /*text-align: center;*/
/*}*/

/*.nav h1 {*/
  /*color: #4fc08d;*/
  /*display: inline-block;*/
  /*margin: 10px 0;*/
/*}*/

/* ---------- nav-setting ---------- */

.nav-setting {
  position: fixed;
  right: 30px;
  top: 35px;
  z-index: 999;
}

.nav-setting .ui.dropdown.button {
  padding: 10px 10px 0 10px;
  background-color: #fff !important;
}

.nav-setting .icon.bars {
  color: #000;
  font-size: 18px;
}

/* ---------- post-content ---------- */

.post-content h3 a {
  color: #4fc08d !important;
}

.post-content .tag {
  font-size: 13px;
  margin-right: 5px;
  color: #999;
}

.post-content .tag.right {
  float: right;
  margin-right: 0;
}

.post-content .tag.right a {
  color: #999;
}
.search{
    border:0em;
    width:11em;
    text-align:left;
    font-size:1.5em;
    margin:0.5em 0;
}
.port {
  margin-bottom: 20px;
  color: #999;
  text-align: center;
}
.rfid{
   border:0;
   width:11em;
   text-align:center;
   font-size:2em;
   margin:0.5em 0;
 }
.chart {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    float: left;
}
.prepage a{float:left;text-decoration:none;padding:.5em 1em;color: #140000;font-weight:bold;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color: #140000;font-weight:bold;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;-webkit-transition:color .2s linear;}
.wrap{
    width:220px;
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.p{
    word-wrap:break-word;
}


*{ margin:0; padding:0}

body{ font: 14px Arial, Helvetica, sans-serif;

    padding:20px;

}

span{

    /*border-left:1px solid #000;*/

    /*border-bottom:1px solid #000;*/

    margin-top:-1px;

    width:70px;

    display:inline-block;

    text-align:left;}

span.last{

    /*border-top:1px solid #000;*/

    /*border-right:1px solid #000;*/

    width:70px;

    display:inline-block;}
